<!-- <div class="container" fxLayout="row" fxLayoutGap="20px"> -->
  <mat-toolbar class="zero-padding" color="primary">
  <!-- <span><img src="/assets/images/logo.png" height=30 width=41></span> -->
  <!-- <img src="assets/budget-logo.svg" alt="Logo" width="50" height="50px"> -->
  <button mat-button (click)="toggleSidenav()" class="fa fa-bars fa-lg fill-highlight-icon"></button>
  <span style="font-size:16px;">Financial Management Software </span>
  <!-- <mat-toolbar-row fxHide.gt-sm>
    <a mat-button routerLink="/login">Login</a>
  </mat-toolbar-row> -->
</mat-toolbar>
<!-- </div> -->
