<!-- <div class="container" fxLayout="row" fxLayoutGap="20px"> -->
  <mat-toolbar color="primary">
  <mat-toolbar-row>
  <!-- <span><img src="/assets/images/logo.png" height=30 width=41></span> -->
  <img src="/assets/images/budget-logo.svg" alt="Logo" width="50" height="50px">
  <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
  <a mat-button>Ledger</a>
  <a mat-button routerLink="/menu" routerLinkActive="active">Budget</a>
  <a mat-button [matMenuTriggerFor]="menu" routerLinkActive="active">New Entry</a>
  <mat-menu #menu="matMenu">
    <button (click)="openNewEntry('ledger')" mat-menu-item routerLinkActive="active">Ledger</button>
    <button mat-menu-item routerLinkActive="active">Budget</button>
  </mat-menu>
  <span class="flex-spacer"></span>
  <a mat-button fxHide.lt-md (click)="openLoginForm()">Login</a>
  </mat-toolbar-row>
  <mat-toolbar-row fxHide.gt-sm>
    <a mat-button (click)="openLoginForm()">Login</a>
  </mat-toolbar-row>
</mat-toolbar>
<!-- </div> -->
