.example-container {
  display: flex;
  flex-direction: row;
}

.example-container > * {
  width: 100%;
}

.zero-padding.mat-toolbar.mat-primary.mat-toolbar-single-row {
  padding: 0px;
}

.fill-highlight-icon {
  height: 100%;
  line-height: 100%!important;
  // padding: 25px 16px!important;
}
