<!-- <div class="loading-shade" *ngIf="isLoadingResults"> -->
<div class="container" *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
</div>
<div [fxHide]="isLoading">
<div *ngIf="isLedger">
<div fxLayout.lt-sm="column" fxLayoutGap="20px">
  <div>
    <mat-form-field>
      <input matInput placeholder="Projected Budget" disabled [value]="projBalance">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field >
      <input class="my-class" #fun (dateChange)="updateEndDate(fun.value)"  matInput [matDatepicker]="picker1" placeholder="Projected End Date" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker touchUi="true" #picker1></mat-datepicker>
    </mat-form-field>
  </div>
</div>
<div fxLayout.lt-sm="column" fxLayoutGap="20px">
  <div>
    <mat-form-field>
      <input matInput placeholder="Actual Balance as of {{this.dateservice.todayDate | date:'shortDate'}}" disabled value={{currentBal.ledgeramount}} >
    </mat-form-field>
  </div>
</div>
</div>

<!-- table code -->
<div>
<h3> {{ entryType }} Entries</h3>
</div>
<div fxLayout.lt-sm="column" fxLayoutGap="20px">
  <div>
    <mat-form-field class="example-container">
      <input class="my-class" #startDatePicker (dateChange)="updateDate(startDatePicker.value, endDatePicker.value)"  matInput [matDatepicker]="start" placeholder="Start Date" [formControl]="startDate">
    <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
    <mat-datepicker touchUi="true" #start></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-container">
      <input class="my-class" #endDatePicker (dateChange)="updateDate(startDatePicker.value, endDatePicker.value)"  matInput [matDatepicker]="end" placeholder="End Date" [formControl]="endDate">
    <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
    <mat-datepicker touchUi="true" #end></mat-datepicker>
    </mat-form-field>
  </div>
</div>

<div fxLayout.lt-sm="column" fxLayoutGap="20px">
  <div>
    <mat-form-field class="push-right">
      <input matInput placeholder="Estimated Amount" disabled [value]="bal.budgetamount / 100 ">
    </mat-form-field>
  </div>
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Actual Amount" disabled [value]="bal.ledgeramount / 100">
      </mat-form-field>
    </div>
  </div>
</div>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div fxLayout.lt-sm="column" fxLayoutGap="20px">
<div class="table-container mat-elevation-z8" fxFlex.lt-sm="100%" fxFlex.sm="100%">
  <mat-table #table [dataSource]="dataSource" class="table-table">
          <!-- Date Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.trans_date | date:'MMM d, y':'GMT'}}
      </mat-cell>
    </ng-container>
    <!-- Credit Column -->
    <ng-container matColumnDef="credit">
      <mat-header-cell *matHeaderCellDef>Credit</mat-header-cell>
      <mat-cell *matCellDef="let row">$&nbsp;{{ row.credit / 100 }}</mat-cell>
    </ng-container>

    <!-- Debit Column -->
    <ng-container matColumnDef="debit">
      <mat-header-cell *matHeaderCellDef>Debit</mat-header-cell>
      <mat-cell *matCellDef="let row">$&nbsp;{{ row.debit / 100 }}</mat-cell>
    </ng-container>

    <!-- Store Column -->
    <ng-container matColumnDef="store">
      <mat-header-cell *matHeaderCellDef>Store</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.store_name }}</mat-cell>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="category">
      <mat-header-cell [fxHide]="displayMobile" *matHeaderCellDef>Category</mat-header-cell>
      <mat-cell [fxHide]="displayMobile" *matCellDef="let row">{{ row.category_name }}</mat-cell>
    </ng-container>

    <!-- Payment Name Column -->
    <ng-container matColumnDef="paymentname">
      <mat-header-cell [fxHide]="displayMobile" *matHeaderCellDef>Payment</mat-header-cell>
      <mat-cell [fxHide]="displayMobile" *matCellDef="let row">{{ row.payment_name }}</mat-cell>
    </ng-container>
    <div>
      <mat-header-row *matHeaderRowDef="displayedColumns" matTooltip="Click on a Row to Update" matTooltipPosition="above"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openUpdate(row)"></mat-row>
    </div>
  </mat-table>

  <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
  </mat-paginator>
</div>
</div>
</div>
