<div class="container">
  <h3>{{entryTypeLabel}}:</h3>
</div>
<div class="container" [fxShow]="isError">
    <h2 style="color:red;">{{flashMessage}}</h2>
</div>
<div class="container" fxLayout.lt-sm="column" fxLayoutGap="20px">
  <form (ngSubmit)="onSubmit()" #ledgerEntryForm="ngForm">
      <!-- TODO: remove this:{{ model | json }} -->
    <div class="form-group">
      <mat-form-field class="example-container">
        <input class="my-class" #fun [(ngModel)]="model.trans_date" matInput [matDatepicker]="picker1" placeholder="" [formControl]="date">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker touchUi="true" #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-select (selectionChange)="showType($event.value)" placeholder="Credit/Debit" [value]="typeTrans[1].value" required >
          <mat-option *ngFor="let type of typeTrans" [value]="type.value" >{{type.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input type="text" [(ngModel)]="model.store"  placeholder="Store" aria-label="Number" matInput [formControl]="storeControl" [matAutocomplete]="auto" required>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="getDisplayFn()">
          <mat-option *ngFor="let store of filteredOptions | async" [value]="store">
            {{ store.store_name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="form-group">
    <mat-form-field>
      <mat-select placeholder="Category" [(ngModel)]="model.category.id" name="category.id" required>
        <mat-option *ngFor="let cat of storeAndCat.category" [value]="cat.id"> {{ cat.category_name }}</mat-option>
      </mat-select>
    </mat-form-field>
    </div>
    <div class="form-group" [fxShow]="isCredit">
      <mat-form-field>
        <input type="number" matInput placeholder="Amount" [(ngModel)]="model.credit" name="credit" [required]="isCredit">
      </mat-form-field>
    </div>
    <div class="form-group" [fxHide]="isCredit">
      <mat-form-field>
        <input type="number" matInput placeholder="Amount" [(ngModel)]="model.debit" name="debit" [required]="!isCredit">
      </mat-form-field>
    </div>
    <div class="form-group" fxLayoutAlign="center center">
      <button type="submit" color="primary" mat-button [disabled]="!ledgerEntryForm.form.valid">Submit</button>
    </div>
  </form>
</div>
