<div class="container" fxLayout.lt-sm="column" fxLayoutGap="20px">
  <form>
    <div class="form-group">
      <mat-form-field>
        <input type="number" matInput placeholder="Amount" [(ngModel)]="model.name" name="name" required>
      </mat-form-field>
      TODO: remove this: {{model.name}}
    </div>
    <div class="form-group">
      <mat-form-field class="example-container">
        <input class="my-class" #fun (dateChange)="updateEndDate(fun.value)"  matInput [matDatepicker]="picker1" placeholder="Projected End Date" [formControl]="date">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker touchUi="true" #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-select placeholder="Credit/Debit">
          <mat-option *ngFor="let type of typeTrans" [value]="type.value">{{type.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input type="text" placeholder="Store" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="form-group">
    <mat-form-field>
      <mat-select placeholder="Category">
        <mat-option *ngFor="let option of options" [value]="option"> {{ option }}</mat-option>
      </mat-select>
    </mat-form-field>
    </div>
    <div class="form-group" fxLayoutAlign="center center">
      <button type="submit" color="primary" mat-button>Submit</button>
    </div>
  </form>
</div>
