<!--The content below is only a placeholder and can be replaced.-->
<app-header> </app-header>
<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="displayType">
    <mat-nav-list (click)="closeSidenav()">
      <a mat-list-item routerLink="/home" routerLinkActive="active"> Ledger </a>
      <a mat-list-item routerLink="/budget" routerLinkActive="active"> Budget </a>
      <a mat-list-item [routerLink]="['/ledgerentry', this.ledgerType]" routerLinkActive="active"> Enter Ledger </a>
      <a mat-list-item [routerLink]="['/ledgerentry', this.budgetType]" routerLinkActive="active"> Enter Budget </a>
      <a mat-list-item routerLink="/category-chart" routerLinkActive="active"> Chart </a>
      <a mat-list-item routerLink="/login"> Login </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>


<div class="container" fxLayout="column" fxLayoutGap="20px">
  <router-outlet></router-outlet>
</div>
</mat-sidenav-content>
</mat-sidenav-container>
