// .fa-bars {
//   color: blue;
// }
.mat-sidenav {
  width: 150px;
  // padding: 0 20px;
  margin-top: 10px;
}

.mat-nav-list > .mat-list-item {
  color: #717D7E;
}

.mat-drawer {
  background-color: #fafafa;
}

.mat-expansion-panel {
  background-color: #fafafa;
}

.mat-expansion-panel-header {
  padding: 0 16px;
}
.mat-expansion-panel-header-title {
  color: #717D7E;
  font-size: 16px;
}

.color {
  color: #717D7E;
  // font-size: 14px;
}
