<!--The content below is only a placeholder and can be replaced.-->
<app-header> </app-header>
<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="displayType" [opened] ="opened">
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="closeSidenav()"> Ledger </a>
      <a mat-list-item routerLink="/budget" routerLinkActive="active" (click)="closeSidenav()"> Budget </a>
      <a mat-list-item [routerLink]="['/ledgerentry', this.ledgerType]" routerLinkActive="active" (click)="closeSidenav()"> Enter Ledger </a>
      <a mat-list-item [routerLink]="['/ledgerentry', this.budgetType]" routerLinkActive="active" (click)="closeSidenav()" > Enter Budget </a>
      <a mat-list-item routerLink="/createstore" routerLinkActive="active" (click)="closeSidenav()" > Add Store </a>
      <mat-expansion-panel class="mat-elevation-z0" >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Charts
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item class="color" routerLink="/category-chart" routerLinkActive="active" (click)="closeSidenav()" > Categories  </a>
        <a mat-list-item class="color" routerLink="/budget-ledger-chart" routerLinkActive="active" (click)="closeSidenav()" > Monthly Totals  </a>
      </mat-expansion-panel>
      <!-- <a mat-list-item routerLink="/category-chart" routerLinkActive="active" (click)="closeSidenav()"> Chart </a> -->
      <a mat-list-item routerLink="/login" (click)="closeSidenav()"> Login </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>


<div class="container" fxLayout="column" fxLayoutGap="20px">
  <router-outlet></router-outlet>
</div>
</mat-sidenav-content>
</mat-sidenav-container>
