// .fa-bars {
//   color: blue;
// }
.mat-sidenav {
  width: 150px;
  // padding: 0 20px;
  margin-top: 10px;
}

.mat-nav-list {
}

.mat-nav-list > .mat-list-item {
  color: #717D7E;
}

.mat-drawer {
  background-color: #fafafa;
}
