<div class="container" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center start" style="height: 300px">
  <div [fxShow]="showFlashMessage">
      <h3>{{flashMessage}}</h3>
  </div>
  <div>
  <form [formGroup]="addStoreForm" novalidate>
    <div class="form-group">
      <mat-form-field>
        <input matInput placeholder="Store Name" formControlName="store_name" required>
      </mat-form-field>
    </div>
    <div class="form-group" fxLayoutAlign="center center">
      <button type="button" (click)="onSubmit()" color="primary" mat-button [disabled]="!addStoreForm.valid">Submit</button>
    </div>
  </form>
  </div>
</div>
