<div class="loading-shade" *ngIf="isLoadingResults">
  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div>
<div *ngIf="!isLoadingResults">
<div class="container" fxLayout.lt-sm="column" fxLayoutGap="20px">
  <div>
    <mat-form-field class="example-container">
      <input matInput placeholder="Projected Budget" disabled [value]="projBalance">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="example-container">
      <input class="my-class" #fun (dateChange)="updateEndDate(fun.value)"  matInput [matDatepicker]="picker1" placeholder="Projected End Date" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker touchUi="true" #picker1></mat-datepicker>
    </mat-form-field>
  </div>
</div>
<div class="container" fxLayout.lt-sm="column" fxLayoutGap="20px">
  <div>
    <mat-form-field class="example-container">
      <input matInput placeholder="Actual Balance as of {{this.dateservice.todayDate | date:'shortDate'}}" disabled value={{bal.ledgeramount}} >
    </mat-form-field>
  </div>
</div>
</div>

<div class="container" fxLayout="column" fxLayoutGap="20px">
<app-table-ledger [dataType]="dataType" [showBalance]="showBalance"
  (onUpdate)="onUpdate($event)" [entryType]="entryType"></app-table-ledger>
<div>
