<div class="container" fxLayout="column" fxLayoutGap="20px">
  <table class="example-full-width" cellspacing="0"><tr>
  <td><mat-form-field class="example-container">
    <input matInput placeholder="Projected Budget" disabled [value]="projBalance">
  </mat-form-field></td>
  <td><mat-form-field class="example-container">
    <input #fun (dateChange)="updateEndDate(fun.value)"  matInput [matDatepicker]="picker1" placeholder="Angular forms" [formControl]="date">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field></td>
  </tr></table>
  <mat-form-field class="example-container">
    <input matInput placeholder="Ledger Balance" disabled value="Placeholder">
  </mat-form-field>

<!-- <div class="container" fxFlex>
  <app-table-ledger></app-table-ledger>
</div> -->
<app-table-ledger></app-table-ledger>
</div>
